html {
    background: green;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #FFFDD0;
}



h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
    display: flex;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    display: flex;
}

.blog-post2 {
    display:flex
}

article {
    border-bottom: 1px solid #000;
    padding: 20px;
    margin: 20px;
}


.sections {
    background-color: #dddbac;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}



.image {
    position: static;
    padding-left: 4%;
    height: 100px;
    width: 100px;
    float: right;
    margin-left: 10px;
}

#about {
    display: flex;
}

#twocolumn {
    background: blue;
}

.dropdown {
    background-color: rgb(250, 255, 176);
    float: right;
    margin-left: 10px;
}

#picture {
    background: green;
    padding: 10px
}